<!DOCTYPE html>
<html>
<head>
     <title>User management system</title>
</head>
<body>
<h2>WWELCOME TO SHOPPING CART WEBSITE </h2>
<br>
<br>
<div id="shoppingCart">
      
        <form method = "get"  action='/admin/adminSignup'>
          <div class="container">
               <label><b>For Admin Signup </b></label>
               <br>
               <br>
               <button type="submit">Admin Signup</button>
          </div>
        </form>
        <br>
        <br>
        <br>
        <form method = "get"  action='/users/userSignup'>
          <div class="container">
               <label><b>For USER Signup </b></label>
               <br>
               <br>
               <button type="submit">user Signup</button>
          </div>
        </form>
</div>
</body>
</html>